{% extends 'base.html' %}

{% block customecss %}
{% endblock customecss %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h1>ロス活</h1>  
  <a href="#" class="alert-link">{{user.username}}さん こんにちは</a>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
  {% for item in page_obj %}
  <div class="alert alert-success" role="alert">
    <p>タイトル：<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
    <p>投稿者：{{item.author}}</p>
    <p>投稿日 : {{item.date}}</p>
    <p><img src="{{object.images.url}}" width=300></p>
    
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">いいね：{{item.good}}</a>
    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">既読：{{item.read}}人</a>
  </div>
  {% endfor %}
  <a href="{% url 'logout' %}">ログアウト</a>
  <a href="{% url 'create' %}">投稿</a>
  {% include "page.html" %}
</div>
{% endblock content %}


